footer{
    float: right;
    cursor: pointer;
    
   
}
#opt:hover{
    background-color: brown;
}
#opt:visited{
    color: chartreuse;
}
#b2{
    background-color: #00917c;
    color: honeydew;
}
#b2:hover{
    background-color:  #1b4d45 ;
}

#b1{
    background-color: #4a47a3;
    color: honeydew;
}
#b1 {
    background-position: center;
    transition: background 0.8s;
  }
  #b1:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #616ee4 1%) center/15000%;
  }
  #b3{
      background-color: #ffc107;
      color: white;
      margin-left:4%;

  }
  #b3:hover{
      background-color: #fbd04c;
  }
 
 @media all and (max-width:480px){
    
    .pagination{display:grid;
 }}
  /* Button style */
  button {
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
    box-shadow: 0 0 4px #999;
    outline: none;
  }
  
#index > .jumbotron >ul > li{
    padding-bottom: 1%;
}
img{
    width: 10%;
    float: left;
  
    margin-left: 1%;
}

#timer{
    background-color: black;
    
    width:7.4%;
    color: cornsilk;
    position: fixed;
    margin-left: 86.5%;
    margin-right: 5.5%;
    margin-top: 1%;
    font-size:x-large;
    text-align: center;
}
